iframe {
    display:flex;
    flex-direction: column;
    flex: auto;
    height:100%;
    width:100%;
    border: none;
}

:host {
    background-color: ghostwhite;
    height: 100%;
    width: 100%;
}