
#protocol-table {
  background-color: whitesmoke;
  border-top: 2px solid cornflowerblue;
  max-height: 200px;
}

#protocol-table .protocol-header {
  background-color: white;
  min-height: 40px;
  border-bottom: 1px solid cornflowerblue;
}

#protocol-table .protocol-header .errors-td,
#protocol-table .protocol-header .warnings-td {
  padding: 5px;
}

#protocol-table .protocol-header .errors-td:hover,
#protocol-table .protocol-header .warnings-td:hover {
  background-color: #e7e2d8;
  cursor: pointer;
  border-radius: 5px;
}

#protocol-table .protocol-header .info {
  position: absolute;
}

#protocol-table .protocol-header .info table tr {
  padding: 0;
}

#protocol-table .protocol-header .info table tr td {
  padding-right: 10px;
}

#protocol-table .protocol-header .tag {
  position: absolute;
  right: 0;
  margin-top: 8px;
  margin-right: 10px;
  width: 25px;
}

#protocol-table .protocol-body {
  padding: 10px;
  overflow: scroll;
  height: 160px;
}

#protocol-table .protocol-body table tr {
  background-color: white;
  border: 1px solid gray;
  margin-bottom: 5px;
}
