<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Audio files with more than 2 Channels</h4>
    </div>
    <div class="modal-body split-modal">
        <p>You have added audio files with more than two channels. In order to continue the channels will be split in
            separate files
            and each could be processed separately.
        </p>
        <p style="text-align: center;">
            What would you like to do?
        </p>
        <div class="row">
            <div class="col-4">
                <button class="btn btn-info" (click)="splitModalDismissedProperly = true; d('FIRST');">Always<br/>use 1.
                    channel
                </button>
            </div>
            <div class="col-4">
                <button class="btn btn-info" (click)="splitModalDismissedProperly = true; d('SECOND');">Always<br/>use
                    2. channel
                </button>
            </div>
            <div class="col-4">
                <button class="btn btn-info" (click)="splitModalDismissedProperly = true; d('BOTH');">Always<br/>use
                    both channels
                </button>
            </div>
        </div>
    </div>
</ng-template>