:host {
    position: absolute;
    z-index: 30;
}

svg {
    width: 100%;
    height: 100%;
    position: absolute;
}

rect {
    fill: rgb(255, 255, 255);
    stroke-width: 2;
    stroke: cornflowerblue;
}


.inner{
    padding: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.content {
    padding: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}