<div class="inner">
    <ng-content></ng-content>
</div>
<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="200px" height="300px" viewBox="0 0 200 300" enable-background="new 0 0 200 300" xml:space="preserve">
<g>

		<image overflow="visible" opacity="0.75" width="206" height="315" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAM4AAAE7CAYAAACVN77aAAAACXBIWXMAAAsSAAALEgHS3X78AAAA
GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAFOJJREFUeNrsnAtv28YSRvmS5Ed6
EQQpAgT9/7+sMBC0CArca0vWg7zzrWfYFU29/GgT6RyAWYpSLIraszM7XLsoAAAAAAAAzoeSS/DT
fR8dlwlxYPd3UB4hCxIhzkVf+/KI76XbIwwCIc5FClMekGlMml0t/AM0XIJ/RZq8He6XB9KybkfE
KREIcc45oo/JUg3E2ZWqxdYeIRBp3E+SqpH2HZ+eDYUZa+O10fHbgTTtQKDuwDzo0ul+JHFKRDo5
Rcul6bePHz9Wm82m1nNd11W29devLMvOtiRJXdebv/76q83EGRMIcfZfg+7fEueUihACbadfEVXq
T58+JVnatk2byaItieTipIgjcSSHtRsJVFXVRpsk+v79+2ZP5OmQ5eTH7yLOMRWh8kB+f8nilL/+
+qtk2RLGtmY2mzUuTmxb4rg0Ema9WCxS6/Koba1t//jjj/ZCxekOFFN2HXtxalu+UphdVaEteb5+
/VpYR7lIaUwKpV5l1lYhzNXVVWPXpbH9iZHaTJwqEyeijSRZGyvtSxqTaB0RSAJJMmsjShXav4Tr
bNeiu7u7GxOkGymuvLqkX75AmrGtMjlKyTHsKOlssnw937+IodA+b0QPyXB9fV25LLVskSza7Iuf
ujgp8hi9OPb6EGdlIqzscWq1iRBHkSjmQiFOtGcbygefz6NzP2hoX5fZpBqK0xa7S/zda8UZS7/y
0mn15cuXSD00klbeUVJ7e3t76fKUmTyVpWN9tLHrNWmaJkljX7CkmVk7CXmy6xzzG0WWlT0vUR4l
j8m1VPSxtpfn8fGxzdK77tzTtVyc+Mz39/f9Z8+icEpnM4leVZUsT5AmL5X2wtgXp05QmyQpb1cH
cYEqS0XKfMS9JGmyz5k+/3Q6LaMAoDmNfYlJEvtSZ9ZO7YtNrT2euji1HdP/0ReY0jQ7vrRjSzum
9lGt5PEItPY5ULtcLttcmnOOOoPPloTR4BGVSG0qojw8PERRpbUBa+PzwVyefRHoxeJsSWMT3FrC
2Nbc3NzUWerReOeobL/OyqqlPS4vQJpyTB6/DmlTDuZRZuKiSJiZWpdGx9JcJ5vjbOyx5jUrax+1
SRxvlx6F1hvlyl55C3F2SNOdmzw2WGyV7SWIZbGbLBKnQsp8Pk+tZLI+ufn27duusv7e61QeIU1+
z6H+/PlzbSeUJrU+uZ3YaNp46tH4aNrn6VFetf3yEiprg8FhSxy/HukaSRJtmTQh0C5xUsSx/Uc7
lsuz9OPrTJ58ntPtmxOcy2W3jx0DRWsDeoouum62v/HrkgYXzQm9qLKy7rr26LM5VZ7yUPk0k6Yy
aRpJY8JM7IQkytROaKqJrVIP7WsktU3iNNbWT3O0qoqU5UJK0qVPTvs0N+SJa2PHUnSxNklj7ZX2
PeI0Y+JYuwxpMnl6cfw1vTjaPNU7y0iTfyYNCF5ESYUU+9wpvbVW28pT2pTWGkvru0uLQkkiizxr
l2dzYN7T0xxZRUvpmYXDJI298dTeLPLy9IVrtLST6EdMjzoaWUOerVL1JaRtT+NF0VfUJIMGE5/b
TCLi6PplAinaTHzQKZ8uVZdGTdtf5lHH22WWxm0ycdrizO/nZNGzy4oovTQehXW90rzQr9nCpKls
S9+LyZN+js3ZO0vbxiJNOXb9ymOijf3QRtJImNlsNrU31Zd8Zdu1Nh8ttX+VyxPiqBPEfYlsFD6l
JP6zp20RbZI8ujYhj0sTkSeiUF5VK3wkXLscqQOERGp13FptG5enHzXPNTWLHY+o6XO2ugfi0VmR
RgNKFqEX1i6snVtfXtjzc+vHqk4+CgsEKwsK67u7u02xexnTzogzGm28epbmNErLFGkkim03djI3
duxWj60NiVRanfroKXn6dC1L2Qofkc+6QJB93jxV0/xP0kTUSfMdCeSRqB6kaq06g+SRKC7L0vdX
HnFSh9GkOL70kTnOWUhk16vf141Pj8qp3KyBQ9dJpXsfXFR9lDAPuraq/JokugFWWJ8ubH6e0jtz
RwWGXJRyX9Qpj4k2ElKRxn6wIooiy429+a2d1K09/mAn+cGOSZ4b27+27cpHUnWCxjtCnq4VZy5P
Mfic+TWtfZNAEXXSIBPXy6WpSvX8Ln1f/UjqkSUiT1pBMBJt2kG0OZuok0uTfT4J07k0SRxdH0/P
5rY/t/0H2+7t//zP5Lm34/cmzr0992CP5yaQAs/S2rWlbGv/OVGmfnYNmwNffL+uSlU0Vc8irVBk
UaRxaX6xLckjqTx9i6jTz3PUEWIEfto970KBBoVcHA0eir6ZOLo2TSaM9ptsflNmHaN1SWJbeTEg
Hm/8NVvzm87NO6drmndiT9FS+Vmf36uPqZCiOaCmD/ZYabCuq+4xpiileZDPG2MZkwqSaX6UXftu
1xyn2ZOmaY1ZOZ/PK93ctGijL1Ol54lPaK99XiNZPtj+fyLy+Nxn5qlHdI7q6XM+cQlzHH3M7LPG
Pa0kTxQK/DuIG56Nz4GijN93Dh9NWx9N44ZozH16afL5zRl6MxY9Y21eL44GlbhJ7NXLfM7Y5nNG
bda304qMDx8+VIvFovrtt9/K33//vdwlzcGI42vPKs8LkwBefp55ISDNcySLpLH9X6y99WNXWcRp
vDOENJf2qwdlFm1jAIkoXGfpW+0RqcquUz7JT4LoHkVU0KIjZPdu2syWbnuMOjtp0sjgA0sMGmtP
YSXOQplSRJqYK0aRRRFJJWoVCdRPdVNf/V3L/7IUrRib5zT7qmqxUNOX0ehLTUtFNJGVPHb8OuY8
Lo+k0ZznxqtuU09Dah9Rn62cPrMvdl+xoL+uLkX+i2x17McA468r3IFh52hjhI3Hvj9WSTu/kPN3
FO38GkWqluY4vpJi6fcSkzT+/NpXWqQqWxSwVPjSd+Ar17UNFzEfrKo9qwbF2rNUDlIB3Jq4B+Hz
mLwsreLAjbcpt9QN0RhJ8znOIGc993J0PlD08mTRp/L5T6RyW9nsiDxdJsqwgtYN5wDndl2HBQKP
sDGApDmLr86IOU3rN0JVLFhE6V9pnHdr3W6JXyY8amlYs2d0LPKI42vPtEXU6eXxE4l7O1deVbsO
o2MFgXeKoryAMJNF01F5Im0diDRMZcss3Ur9I1u8GB0mhCqK3X/A4+yKLsNULcTxG6CrYaRRaVq3
UTSY++qMNI2IdZY2d9f8JgJFOfK9HV9Vi18NUIoVa63iHoOHwcbFCHtjde8s9iNVy0bVS5jT7EvZ
irxAkqVlw0rjVqqWRw+PVJ0PQrvWVV3Sb3/mv2Oz9hvNxZM77ToqvJqfF3/fK4t1leqbqhqnX/vQ
YmSLPof+VNf+JTcRtrKt8pSrjvKpy9P4/YgQaRL3JeL5wpfdRBi8kKCzq/iRp6pbUX5HmlDm4mQC
HUrJzloelyOqhyFOX8LXfMdXoef3zKJYlcr+8aswkTaPXP/T5jj6deeHh4di8Ps0sQIgtZlEsTVZ
IaD2/Sab/I5Uoy838ozdBhhem8Hj/N7CRcoyvDbZ4NHGDeOYA3q/C1GiP9a+DEw3bypP6bbm3mrV
/7NfxT6+HD34GwHp92ki/47UzUNilVeEBiXVreeyXsFfvjlwDXKD8nStGP/7D92xP/cM5eny6+SP
8xvNfeUyVrDEtCGk0YJP9enVatXLc+hvZDTHfqlxt3+whKR8Cjx/V8uyx1W+zGZk0nvZ1jyPJKcU
GbZkubS/47DjGkXFoIsIEpXLrHoZFcz870CUO1K04tQ5zrNyav5rwLkwxeDeRCZH6RPXIqsUDQdT
os7bFRsu9Rp03je7wQC/JUWQD/rqv1lUKXf0992VvSPOrDxSrOECzrLYvslZIg28faDZ6ltbA/xw
wB/pr8/64rHRu3qh5vv+Yk25JyVBGnjXueKh/vZWf23pVbftsxtRyAA/jWRvsVqlesOT6NOyc15G
Az8P6odZBCrfcrCv3sNogB85nXsTKbmmAIgDgDgAiAOAOACIAwCIA4A4AIgDgDgAiAMAiAOAOACI
A4A4AIgDAIgDgDgAiAOAOACIAwCIA4A4AIgDgDgAiAMAiAOAOACIA4A4AIgDAIgDgDgAiAOAOACI
AwCIA4A4AIgDgDgAiAMAiAOAOACIA4A4AIgDAIgDgDgAiAOAOACIAwCIA4A4AIgDgDgAiAMAiAOA
OACIA4A4AIgDAIgDgDgAiAOAOACIAwCIA4A4AIgDgDgAiAMAiAOAOACIA4A4AIgDAIgDgDgAiAOA
OACIAwCIA4A4AIgDgDgAiAOAOFwCAMQBQBwAxAFAHADEAQDEAUAcAMQBQBwAxAEAxAFAHADEAUAc
AMQBAMQBQBwAxAFAHADEAQDEAUAcAMQBQBwAxAEAxAFAHADEAUAcAMQBAMQBQBwAxAFAHADEAQDE
AUAcAMQBQBwAxAEAxAFAHADEAUAcAMQBAMQBQBwAxAFAHADEAQDEAUAcAMQBQBwAxAEAxAFAHADE
AUAcAMQBAMQBQBwAxAFAHADEAQDEAUAcAMQBQBwAxAEAxAFAHADEAUAcAMQBAMQBQBwAxAFAHADE
AQDEAUAcAMQBQBwAxAFAHC4BAOIAIA4A4gAgDgDiAADiACAOAOIAIA4A4gAA4gAgDgDiACAOAOIA
AOIAIA4A4gAgDgDiAADiACAOAOIAIA4A4gAA4gAgDgDiACAOAOIAAOIAIA4A4gAgDgDiAADiACAO
AOIAIA4A4gAA4gAgDgDiACAOAOIAAOIAIA4A4gAgDgDiAADiACAOAOIAIA4A4gAA4gAgDgDiACAO
AOIAAOIAIA4A4gAgDgDiAADiACAOwE8vTsclhR+Q7ocTp23brZPrui4/BvCvoX6o/pj3z7fqm68R
pxtKA/AzRB7vt92/Jc5RYTEzHsmgOJf+9iJxyrLsRva7OEk/1uXpWzzO9gFeLc1I3+of7+mbz/rx
qTSHBIltJNx1dV33J6iT1j8hTXyIqqripMvsw5bIA+8QcVL/y+Y20RdTf/R+ml6z2Wy64f/f0d9P
EqfbEWW6QTTRSepY61ucZH/MDYr/y9cM7yJOb8dTP1O/a7O+qOPpmPpr3n9zmY7x4GDE8WjS/4DV
apUiTNM06d2tTSdiEUUzrTZOzE5g42167M+FMeWTgyXRBt4qV8u96fti9EdrN/lx9Uuh1qKOjqXo
4xGo29H/jxfn7u6u+Pjx43AOk95Usvibb1yUjZ9ganXMnk6tvbbK/r/0Lj1s8q3DW0iTz6mTKOp7
eZ8cbv58G/3Z/9/WHEj9/1RxnuV8EiUPeSGNHdcJrO3Y2tuV9u3plT1Xa4qj8/KopP3KhSlHqh8A
L/JHfUwRxPumhEl9Uf0w9vN+GgN7SJPNbVqfenSH0rV9xYH0A+7v77vJZNJdXV0ptCVZLE3Tm+sk
VtauXJSltUu1dqyx5yLSSLraH1dZygbwZpW1iCAeaSTK0tqlWvVL7btIK++3a+urayOyo3axWKQp
yXQ67Q4Vr/YWB1QRCxPtB7YmUOu2Spw4AZ3Uo+0/ejuRJMrQfA6k19f2uqp8momVXlWLqhtfPZxE
fvc/q+LGHGfjgkiUhbUL9c1s6wXyfryJ/h0FLq8En1Qc2Cob55FHbyA9PdqkCCNRdHK2r5Ob6+c9
TYGepJHVqiNYq4gjecpBoYDlOfDiuU2R3cfxnZjbrD3iLKx/Pdi+trlterzwQT4JpNRNuEB5pNmb
ru2a46StrutUCFDU0KYTsmxtZceX1j5au/ATmtnWRKTxOZDkmtr/mahIoYjzdHhLnrgIpG5wtDcj
qVqUlftUTemZR5gH27+3Y/chkIRS/5Vc6s9K2SSdNvV39fvcg1PnOKkk5+K0y+VSP3Rt+d/KT0hv
PrcINLETS+mZvT5yTZ3IzJ6far6jiOPzm744kL0N0sBr5Imo089xvBAQ4kiUe+uL/7N9CfSgfqv+
q+etz66sbysz2ljfbl2ck26ADtO07u7urvv8+XP78PCgH7rRm9ibphRN6ZlJMIn5i6ddKT2z7dG2
mb1GQuk9apcmRR2kgbeUJ6JNVhxYexr26IIo0iji/Fetvf7B07aUsqlfK9qon89ms1b9fiTadEdX
1fJ0zdq1zFSa5lWzxlJDe1in9MxLeSoWSKor+79Tk2wSEcfTuJSmURyAtywOdE9LAmLFQESclRcC
Yv6d5FHaZv3ywV47lzierimTWo+kaTspdzwuI7WSXJ8+fWpWq9XEbJzZD76yN73WZs/d2BvfWrqm
9sae07GriDaKSCoK6J6ORyWkgfesrLVx410V34g6PqeZK9LYYC9p7l0kpWxze27xaEwmk9X379/X
PtXYujF6KOI8S9f0n+0HqsRXLRaLlZlZmShpku+RpvObTisvGMwUbVSWzipq6eanfrZHnfjwpGrw
6lQtlsvEMi+XJ27IL70QoMij6YWiz9wj0cJEskRqubI+vVE/z2TZW1Ur90ShKos8tc11FHUaCzpT
e7OpvdFUKZntK7qkTZHGNh2f2KbSdONLbipvS5/NIQy8CfmSsFgJ4MvCNM+JuU4qFCg102Z9N91G
kTS2v7RgszRp1n/++WdU10Ke9iXilIOUrVbKpls5V1dXE2vtvSZJIosyadOcxtokTaRouTQuDNLA
m0efSNcyeWLNZNxCSYUtbZLFgoDalbIo3Zv0FG0zSNG6U8QZm+uUURmTPPbmtW29QJa+6dik0ZLp
tHC6abw8Xbss2kcaeFd5PGVr/fdt0ooA3dz0pTXrKD2HMCp42bZxaVoXp9s3tzlFnGHkqSxtq3Ue
Euj6+lrSSJjaBKrVKtpYNKokT0QZe1ySosF7pmxaZ1b8vdIlltGkm/d+H1K3VNbz+TwJo3mNpWd5
lBm78XmSOLvk6QX68uVLZSeW5FFKeXNzk1oXR5JUFpFKLwoUzG/gn5jnFE9zg7RgM1t7llYE6D6N
l5xTIeDbt2+7hDm4Vu1QJ94lTy5QqUXT2lycfj5ze3v7bFEn4sA7itP/KoxW9ce8J1a/6B6NNhOm
2yPMQWmOEWcoz64IVH79+lUCJYmKp9nZM2kQB95bnFyeWOXswnTZioBDEaY7VopTXlfukWjs+cKk
Uq0dYeBdcTmKEQmG+92O54+S5hRxxl5bHtm+9P0ATmHfH9s41J4kzUs7cvnKxwD/tESnPn4XcY75
/8gCP3IkepEs79XBkQV+VokAAAB+UP4vwABuq68IM4tBEgAAAABJRU5ErkJggg==" transform="matrix(1 0 0 1 0 -9)">
	</image>
	<g>
		<path fill="#FFFFFF" d="M103.991,4.55c-0.904-2.984-2.315-3.005-3.138,0.013C100.032,7.58,96.66,10,93.36,10H21
			c-3.3,0-6,2.797-6,6.097V279c0,3.3,2.7,6,6,6h161.166c3.3,0,5.834-2.7,5.834-6V16.457c0-3.3-2.617-6.016-5.917-6.035
			l-70.489-0.413C108.293,9.99,104.896,7.533,103.991,4.55z"/>
		<path fill="none" stroke="#0071BC" stroke-width="2" stroke-miterlimit="10" d="M103.991,4.55
			c-0.904-2.984-2.315-3.005-3.138,0.013C100.032,7.58,96.66,10,93.36,10H21c-3.3,0-6,2.797-6,6.097V279c0,3.3,2.7,6,6,6h161.166
			c3.3,0,5.834-2.7,5.834-6V16.457c0-3.3-2.617-6.016-5.917-6.035l-70.489-0.413C108.293,9.99,104.896,7.533,103.991,4.55z"/>
	</g>
</g>
</svg>
