<div id="app" (dragover)="onMissedDrop($event)" (drop)="onMissedDrop($event)">
    <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
        <a class="navbar-brand" href="#">OH-Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <div class="mr-auto bg-info" style="display:flex; flex:auto">

            </div>
            <div class="my-2 my-lg-0" title="Desktop Notifications">
                <span style="vertical-align: middle"> Desktop Notifications</span>
                <i class="fa fa-bell-o fa-2x" aria-hidden="true" *ngIf="notification.permissionGranted"
                   (click)="notification.permissionGranted = false"></i>
                <i class="fa fa-bell-slash-o fa-2x" aria-hidden="true" *ngIf="!notification.permissionGranted"
                   (click)="notification.permissionGranted = true"></i>
            </div>
        </div>
    </nav>
    <div class="row main-row" style="margin-top: 60px;">
        <div *ngIf="sidebarstate !== 'hidden'" [ngClass]="{
            'col-3': sidebarstate !== 'hidden'
        }" id="sidebar">
            <button class="btn btn-primary" (click)="showtool = false; sidebarstate = 'hidden';" style="width:100%">
                BACK
            </button>
            <app-proceedings style="height:100%; display:flex; flex-direction:column; flex:auto;"
                             [tasks]="taskService.tasks"
                             [operations]="taskService.operations"
                             [shortstyle]="true"
                             (afterdrop)="onAfterDrop($event)" #proceedings
                             (operationclick)="onOperationClick($event)"
            ></app-proceedings>
        </div>
        <div [ngClass]="{
        'col-9': sidebarstate !== 'hidden',
        'col-12': sidebarstate === 'hidden'
    }" style="height:100%;">
            <div id="main">
                <ng-container *ngIf="showtool; else showProceedings">
                    <app-tool-loader [url]="tool_url" style="height:100%;"></app-tool-loader>
                </ng-container>
                <ng-template #showProceedings>
                    <div class='row proceedings-header'>
                        <div class="col-3">
                            <button class="btn btn-primary" style="width: 100%;display: block"
                                    (click)="onFilesAddButtonClicked()">
                                <span class="glyphicon glyphicon-plus"></span> ADD FILES
                            </button>
                            <input type="file" multiple class="fileinput" value="Select audio file"
                                   style="display:none;"
                                   #fileinput
                                   (change)="onFileChange($event)"/>
                        </div>
                        <div class="col-6">
                            <div class="status">
                                <ng-container *ngIf="taskService.countRunningTasks() > 0">
                                    {{taskService.countRunningTasks()}} Task(s) running...
                                </ng-container>
                                <ng-container *ngIf="taskService.countRunningTasks() < 1">
                                    Ready for processing
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-primary" style="width:100%;" (click)="onUploadButtonClick()">UPLOAD &
                                PROCESS FILES
                            </button>
                        </div>
                    </div>
                    <app-proceedings style="display:flex; flex:auto;" [tasks]="taskService.tasks"
                                     [operations]="taskService.operations"
                                     (afterdrop)="onAfterDrop($event)" #proceedings
                                     (operationclick)="onOperationClick($event)"
                    ></app-proceedings>
                    <div id="protocol-table" [@expandToggle]="tag.getAttribute('data-state')">
                        <div class="protocol-header">
                            <div class="info">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td (click)="onProtoclLabelClick(tag)">
                                            <div class="errors-td">
                                                <div class="rounded-num" [@blop]="test">{{taskService.errors_count}}
                                                </div>
                                                Errors
                                            </div>
                                        </td>
                                        <td (click)="onProtoclLabelClick(tag)">
                                            <div class="warnings-td">
                                                <div class="rounded-num warning" style="color:black;">
                                                    {{taskService.warnings_count}}
                                                </div>
                                                Warnings
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tag"><i class="fa fa-angle-down" aria-hidden="true" appExpand #tag
                                                style="cursor:pointer;"></i></div>
                        </div>
                        <div class="protocol-body" [ngStyle]="{
                        display: ((tag.getAttribute('data-state') !== 'opened') ? 'none': 'flex')
                    }">
                            <table class="table table-bordered">
                                <tbody>
                                <tr *ngFor="let elem of taskService.protocol_array">
                                    <td>{{elem.task_id}}</td>
                                    <td>
                                    <span *ngIf="elem.state === 5" class="glyphicon glyphicon-exclamation-sign"
                                          style="color:red"></span>
                                        <span *ngIf="elem.state === 4" class="glyphicon glyphicon-warning-sign"
                                              style="color:orange"></span>
                                    </td>
                                    <td>{{elem.op_name}}</td>
                                    <td>{{elem.protocol}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>