#sidebar {
    height: 100%;
    border-right: 1px solid gray;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: auto;
}

:host {
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 100%;
}

.row,
#main {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.btn-nav {
    border: 1px solid lightgray;
    padding: 5px;
}

#protocol-table {
    background-color: whitesmoke;
    border: 1px solid gray;
    max-height: 200px;
}

#protocol-table .protocol-header {
    background-color: floralwhite;
    padding: 5px;
    min-height: 35px;
    border-bottom: 1px solid gray;
}

.rounded-num {
    display: inline-block;
    padding:5px;
    border-radius:20px;
    min-width:24px;
    background-color:red;
    font-size:0.8em;
    text-align:center;
    color:white;
    border:1px solid white;
    vertical-align: middle;
}

.rounded-num.warning{
    background-color: #ffc33b;
}

#protocol-table .protocol-header .info {
    position: absolute;
}

#protocol-table .protocol-header .info table tr td {
    padding-right: 10px;
}

#protocol-table .protocol-header .tag {
    position: absolute;
    right: 0;
    margin-right: 10px;
    width: 25px;
}

#protocol-table .protocol-body {
    padding: 10px;
    overflow:scroll;
    height:160px;
}

#protocol-table .protocol-body table tr{
    background-color: white;
    border: 1px solid gray;
    margin-bottom:5px;
}

.glyphicon.glyphicon-arrow-up {
    color: orange;
}