div {
    font-family: "Helvetica Neue", Arial, sans-serif;
}

h1 {
    padding-left: 10px;
}

#sidebar {
    height: 100%;
    padding-right: 0;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: auto;
}

:host {
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 100%;
}

#main {
    display: flex;
    flex: auto;
    height: 100%;
    width: 100%;
}

.btn-nav {
    border: 1px solid lightgray;
    padding: 5px;
}

.proceedings-header {
    background-color: ghostwhite;
    text-align: center;
    padding: 5px;
    display: -webkit-box;
    margin-top: 60px;
}

.proceedings-header .status {
    background-color: floralwhite;
    padding: 5px;
    display: inline-block;
    margin: 0 auto;
    border: 1px dotted gray;
    border-radius: 5px;
    width: 100%;
}

.main-row {
    display: inherit;
    height: 100%;
    width: 100%;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    -webkit-box-flex: unset;
    -ms-flex: none;
}

.main-row .col-xs-9 {
    padding-left: 0;
}

.main-row .col-xs-3 {
    padding-right: 0;
}

.proceedings-header .fa-bell-o,
.proceedings-header .fa-bell-slash-o,
.proceedings-header .fa-cog,
.proceedings-header .fa-question-circle-o {
    margin-top: 10px;
    font-size: 1.5em;
    cursor: pointer;
}

.fa-bell-slash-o {
    color: gray;
}

.navbar.navbar-expand-md.navbar-light {
    border: 1px solid cornflowerblue;
    border-radius: 3px;
}

#upper-main.col-9 {
    padding-left: 0;
}

.tool-nav {
    height: 50px;
}

.tool-nav .title {
    display: table;
    height: 100%;
}

.tool-nav .title .inner {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.2em;
}

.status-div {
    background-color: ghostwhite;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}

.logo {
    font-size: 1.5em;
}

.version {
    color: gray;
}

.dragborder {
    cursor: col-resize;
}

.dropdown-toggle::after {
    display: none;
}

nav {
    padding: 3px 10px;
    background-color: white;
    border: none;
    border-bottom: 1px solid cornflowerblue;
}

nav i {
    font-size: 1.5em;
}

nav li {
}

.right-icons li {
    padding-left: 20px;
}

.right-icons .fa-exclamation-circle {
    text-shadow: 1px 1px gray;
}

.state-icons li {
    text-align: center;
    vertical-align: middle;
    border-bottom: 4px solid cornflowerblue;
    padding-bottom: 5px;
}

.state-icons i {
    opacity: 0.7;
    font-size: 1.5em;
    margin-right: 10px;
}

.state-icons .number {
    text-align: center;
    font-size: 0.9em;
    display: inline;
    margin-right: 3px;
    font-weight: 400;
    vertical-align: middle;
}

#overall-state {
    color: darkblue;
    margin-top: 10px;
}

.flex-fill {
    flex: 1
}

.totalState {
    display: inline;
}