table tr td,
.table thead th,
.table thead th div {
    text-align: center;
    font-size: 0.9em;
}

.table tr td:first-of-type,
.table thead th:first-of-type {
    text-align: left;
}

.table thead th {
    vertical-align: top;
}