<ng-template #content let-onDismiss="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Notice</h4>
    </div>
    <div class="modal-body split-modal">
        <p> Please notice:</p>
        <ol>
            <li>
                Please do not close this tab or browser window. The processes are running only while this web
                application is opened. If you use this app on a laptop you need to keep the laptop opened while
                processing.
            </li>
            <li>After closing and re-opening this page you can only continue cancelled tasks from the last finished
                step.
            </li>
            <li>
                Your proceedings will be saved to your browser locally and automatically, but the results will be saved
                to the server for 24 hours. Please make sure to download your results in this time.
            </li>
        </ol>
        <div class="row">
            <div class="col-12">
                <button class="btn btn-info" (click)="firstModalShown = true; onDismiss();">
                    I understand
                </button>
            </div>
        </div>
    </div>
</ng-template>