:host {
  background-color: white;
  width: 200px;
  border: 1px solid gray;
  position: absolute;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3%;
  cursor: pointer;
  z-index: 9900;
  font-size: 0.9em;
  padding: 0;
}
