:host {
    background-color: white;
    width: 200px;
    height: 300px;
    border: 1px solid gray;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 5px;
    border-radius: 3%;
    cursor: pointer;
    z-index: 100;
}

tr {
    border-bottom: 1px solid #c0c0c0;
    padding: 5px auto;
}

.table-hover {
    width: 100%;
}