<table class="table table-hover">
    <tbody>
    <tr *ngIf="filesCount > 0 || dirCount > 0" (click)="onDeleteTasks()">
        <td><i class="fa fa-times"></i></td>
        <td>
            <ng-container *ngIf="filesCount > 0 && dirCount < 1">
                Delete {{filesCount}} Task(s)
            </ng-container>
            <ng-container *ngIf="dirCount > 0 && filesCount < 1">
                Delete {{dirCount}} Folder(s)
            </ng-container>
            <ng-container *ngIf="dirCount > 0 && dirCount > 0">
                Delete {{filesCount}} Task(s) and {{dirCount}} Folder(s)
            </ng-container>
        </td>
    </tr>
    <tr *ngIf="selected_tasks.length > 0">
        <td></td>
        <td (click)="onRemoveAppendings()">Remove appendings</td>
    </tr>
    <tr *ngIf="selectedOperationType != undefined" (click)="onCompress()">
        <td><i class="fa fa-file-archive-o"></i></td>
        <td>Save all {{selectedOperationType.name}} results</td>
    </tr>
    <ng-content></ng-content>
    </tbody>
</table>