:host * {
  -webkit-touch-callout: default; /* iOS Safari */
  -webkit-user-select: auto; /* Safari */
  -moz-user-select: text; /* Firefox */
  -ms-user-select: text; /* Internet Explorer/Edge */
  user-select: text;
}

tr td {
  font-size: 11px;
  padding: 3px;
}
