.inner * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.inner {
  display: flex;
  flex-direction: column;
  flex: auto;
  overflow-y: auto;
}

.datatable {
  width: 100%;
  font-size: 0.8em;
}

.datatable tr {
  border-bottom: 1px solid gray;
}

:host {
  display: flex;
}

.table-striped .selected {
  background-color: #007bff24;
}

.fa.fa.file-text {
  font-size: 32px;
}

.shorten {
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: none;
  white-space: nowrap;
}

.fa.fa-arrow-up {
  color: cornflowerblue;
}

.col-xs-9 {
  padding-left: 0;
}

.col-xs-3 {
  padding-right: 0;
}

.table.table-striped th {
  vertical-align: top;
  font-size: 0.9em;
}

.op-deactivated {
}

.op-50 {
  opacity: 0.5;
}

.placeholder {
  text-align: center;
  position: absolute;
  width: 96%;
  height: 88%;
  margin-left: 2%;
  margin-top: 80px;
  border: 2px dashed cornflowerblue;
}

.placeholder .description {
  color: #007bff;
  opacity: 0.5;
}

.placeholder ul {
  max-width: 625px;
  margin: 0 auto;
}

.placeholder li {
  text-align: left;
}

.placeholder i {
  font-size: 6em;
  color: #007bff;
  font-weight: 100;
  text-align: center;
  opacity: 0.5;
}

.fa.fa-chain-broken,
.fa.fa-unlink {
  color: red;
  opacity: 0.5;
}

.timer {
  width: 100%;
  margin-bottom: 5px;
}

.timer tr td {
  width: 50%;
  text-align: center;
}

table thead tr th {
  text-align: center;
}

table thead tr th:hover {
  background-color: whitesmoke;
}

.table {
  width: 100%;
}

.badge {
  display: inline;
}

#loading {
  text-align: center;
  margin-top: 10%;
  color: rgba(104, 168, 255, 0.53)
}

.table-striped .tool-selected {
  background-color: lightyellow;
}

.subTableHeader th {
  border-top: none;
  padding: 3px;
}

.subTableHeader {
  border-top: none;
}

.tableHeaderTop {
  border-bottom: none;
  padding-bottom: 0;
}

.tableHeaderTop th {
  border-bottom: none;
  padding-bottom: 0;
}

.fa.fa-info-circle {
  color: lightskyblue;
  margin-left: 5px;
  cursor: pointer;
}

.fa.fa-info-circle:hover {
  color: dodgerblue;
}

.fa.fa-minus-circle {
  color: orangered;
  margin-left: 5px;
  cursor: pointer;
}

.fa.fa-minus-circle:hover {
  color: red;
}

@media (max-width: 1250px) {
}

@media (max-width: 900px) {
}

.quickstart p {
  text-align: justify;
  padding: 5px 10px;
}

.service-preview {
  text-align: center;
  width: 150px;
  float: left;
}

.service-remarks {
  margin-left: 160px;
  font-size: 11px;
  color: gray;
}

.service-remarks ul {
  padding: 0;
  margin-left: 20px;
}

.provided-by {
  font-size: 12px;
}

.service-logo {
  width: 100%;
}

.service-terms a {
  padding: 0;
  font-size: 12px;
  text-decoration: none;
}

.report-issue {
  position: absolute;
  left: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.operation-tooltip .arrow {
  color: skyblue !important;
  border-color: skyblue !important;
}

.operation-tooltip .tooltip-inner {
  background-color: skyblue !important;
  color: black !important;
}

.operation-tooltip #ngb-tooltip-0 {
  width: 200px !important;
}

#ouput-table tr td {
  vertical-align: top;
  font-size: 0.7em;
}

#ouput-table .error {
  color: red;
}

#output-area {
  margin-top: 10px;
  border: 1px solid aliceblue;
  padding: 5px;
}
