.inner {
    display: flex;
    flex-direction: column;
    flex: auto;
    overflow: scroll;
}

.datatable {
    width: 100%;
    font-size: 0.8em;
}

.datatable tr {
    border-bottom: 1px solid gray;
}

:host {
    display: flex;
}

.table-striped .selected {
    background-color: #cbffe7;
}

.fa.fa.file-text {
    font-size: 32px;
}

.shorten {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: none;
    max-width: 100px;
    white-space: nowrap;
}

.fa.fa-arrow-up {
    color: cornflowerblue;
}

.col-xs-9 {
    padding-left: 0px;
}

.col-xs-3 {
    padding-right: 0;
}

.table.table-striped th {
    vertical-align: top;
}

.op-deactivated {
    background-color: darkgray;
}

.op-50 {
    opacity: 0.5;
}

.placeholder {
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: 150px;
}

.placeholder .description {
    color: #007bff;
    opacity: 0.5;
}

.placeholder ul {
    max-width: 625px;
    margin: 0 auto;
}

.placeholder li {
    text-align: left;
}

.placeholder i {
    font-size: 6em;
    color: #007bff;
    font-weight: 100;
    text-align: center;
    opacity: 0.5;
}