<app-download-modal #content [selectedTasks]="selected_tasks" [column]="selectedOperation"></app-download-modal>

<app-file-preview-modal #filePreview></app-file-preview-modal>

<div class="inner" (mouseleave)="isDragging = false" (dragover)="onDragOver($event)" (drop)="onDrop($event)"
     (click)="onContextBlur()">
    <div *ngIf="!storage.tasksFound && taskService.taskList.entries.length === 0" class="placeholder">
        <i class="fa" [ngClass]="{
            'fa-folder-open-o': isDragging,
            'fa-folder-o': !isDragging
        }"></i>
        <p class="description">
            Drag & drop some files/folders here or click on "+ ADD FILES"
        </p>
        <ul class="description">
            <li>You can add new files even if this message is not shown</li>
            <li>Adding folders and files is supported by the latest versions of Firefox, Chrome and Opera. <b>Safari is
                not supported</b></li>
            <li>Sub-folders will be shown on the first level</li>
            <li>You can add .wav files and combinations of .wav and transcript files. A transcript must have the same
                name as its .wav file
            </li>
        </ul>
    </div>
    <div id="loading" *ngIf="storage.tasksFound && !storage.ready">
        <i class="fa fa-spinner fa-spin fa-5x"></i>
    </div>
    <ng-container *ngIf="storage.ready">
        <app-context-menu [ngStyle]="{
        'margin-top': contextmenu.y + 'px',
        'margin-left': contextmenu.x + 'px',
        'display': (contextmenu.hidden) ? 'none' : 'inherit'
    }" [hid]="contextmenu.hidden" [selected_tasks]="selected_tasks" [selectedOperationType]="selectedOperation"
                          (optionselected)="onContextMenuOptionSelected($event)">
        </app-context-menu>
        <app-popover [@fadeToggle]="popover.state"
                     [height]="popover.height"
                     [width]="popover.width"
                     [ngStyle]="{
        'width': popover.width + 'px',
        'height': popover.height + 'px',
        'margin-top': popover.y + 'px',
        'margin-left': (popover.x + 4) + 'px'
    }" (mouseover)="popover.state = 'opened';" (mouseout)="popover.state = 'closed';"
                     [borderColor]="getPopoverColor(popover.operation)" [pointer]="popover.pointer" #popoverRef>
            <ng-container *ngIf="popover.operation !== null">
                <ng-container *ngIf="popover.operation.time.start > 0">

                    <p style="color:red;" *ngIf="popover.operation.lastResult !== null &&
                !popover.operation.lastResult.available
                ">
                        The latest result does not exist anymore.
                    </p>

                    <table class="timer">
                        <tr>
                            <td><i class="fa fa-clock-o" style="color: cornflowerblue;"></i>
                                {{popover.operation.time.start
                                | date :"dd.MM.yyyy H:mm"}}
                            </td>
                            <td><i class="fa fa-hourglass-start" style="color: cornflowerblue;"></i>
                                {{calculateDuration(popover.operation.time) | time}}
                            </td>
                        </tr>
                    </table>
                </ng-container>
                <ng-container *ngIf="popover.operation.results.length > 0">
                    <div style="overflow:auto;">
                        <app-results-table [operation]="popover.operation"
                                           (previewClick)="onPreviewClick($event)"></app-results-table>
                    </div>
                </ng-container>
                <ng-container>
                    <p style="font-size:12px;" [ngStyle]="{
                    color: getPopoverColor(popover.operation)
                }">
                        {{popover.operation.protocol}}
                    </p>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="popover.operation === null && popover.task !== null && popover.task !== undefined">

                <ng-container *ngIf="popover.task.state === 'FINISHED'">
                    <!-- <a [href]="getMailToLink(popover.task)">Share results <i class="fa fa-envelope" aria-hidden="true"
                                                                             style="color:cornflowerblue;"></i></a> -->
                </ng-container>
                <span>Language: {{popover.task.language}}</span><br/><br/>
                <span>File infromation:</span>
                <app-file-info-table [fileinfo]="popover.task.files[0]"></app-file-info-table>
            </ng-container>
        </app-popover>

        <!-- Big proceedings table -->
        <table class="table table-responsive-sm table-striped">
            <thead>
            <tr>
                <th>File</th>
                <ng-container *ngFor="let operation of operations; let i = index" style="text-align: center;">
                    <th style="padding-left:3px;padding-right:3px;" [title]="operation.name">
                        <div style="position: relative;">
                            <div style="display:block;position: relative;height:25px;">
                                <app-operation-arrow [first]="(i === 0)"
                                                     [type]="(i === operations.length - 1) ? 'circle': 'arrow'"></app-operation-arrow>
                                <div style="position:absolute;z-index:10;width:100%;text-align:center;">
                                <span style="background-color:white;padding:0px 3px;"
                                      *ngIf="operation.icon === ''; else showIcon"

                                      (click)="openArchiveDownload('column', operation)">
                                    <ng-container *ngIf="shortstyle">
                                        {{operation.name.charAt(0)}}
                                    </ng-container>
                                    <ng-container *ngIf="!shortstyle">
                                        {{operation.name}}
                                    </ng-container>
                                 </span>
                                    <ng-template #showIcon>
                                    <span style="background-color:white;padding:0px 3px;"
                                          [innerHTML]="operation.icon"
                                          (click)="openArchiveDownload('column', operation)">
                                    </span>
                                    </ng-template>
                                </div>
                            </div>
                            <input *ngIf="operation.name === 'OCTRA' || operation.name === 'ASR'" type="checkbox"
                                   class="header-checkbox"
                                   [checked]="operation.enabled" (click)="deactivateOperation(operation, i)"/>
                        </div>
                    </th>
                </ng-container>
            </tr>
            </thead>
            <tbody (contextmenu)="onContextMenu($event)">
            <ng-container *ngFor="let entry of taskList.entries; let i = index;">

                <tr style="cursor:pointer;" [ngClass]="{'selected': (isEntrySelected(entry))}">
                    <td *ngIf="entry.files !== undefined" (click)="onRowSelected(entry)"
                        [ngClass]="{
                            'shorten': shortstyle
                        }">
                        <ng-container>
                            <i class="fa fa-file-audio-o"
                               aria-hidden="true"
                               [ngClass]="{
            green: (entry.state === 'FINISHED'),
            red: (entry.state === 'ERROR'),
            blue: (entry.state === 'PENDING' || entry.state === 'READY'),
            yellow: (entry.state === 'PROCESSING')
            }"></i>
                        </ng-container>
                        <span [ngClass]="{
                    'green': ((entry.files[0].extension === '.wav' && entry.files[0].file !== undefined) ||
                             (entry.operations[0].results.length > 0 && entry.operations[0].lastResult.online)),
                    'yellow': ((entry.files[0].extension === '.wav' && entry.files[0].file === undefined) || entry.files[0].extension !== '.wav') && entry.operations[0].state !== 'FINISHED'
                }" title="{{entry.files[0].attributes.originalFileName}}"
                              (mouseenter)="onTaskMouseEnter($event, entry)"
                              (mouseleave)="onTaskMouseLeave($event, entry)"
                              (mouseover)="onTaskMouseOver($event, entry)"> {{entry.files[0].name.replace('_annot', '') + '.wav'}}
                </span>
                        <ng-container *ngIf=" entry.files.length > 1 || entry.files[0].extension !== '.wav'">
                    <span class="badge" [ngClass]="{
                        'badge-info': getBadge(entry).type === 'info',
                        'badge-warning': getBadge(entry).type === 'warning'
                    }" (click)="onPreviewClick(entry.files[1])">
                        {{getBadge(entry).label}}
                    </span>
                        </ng-container>
                    </td>

                    <td *ngIf="entry.files === undefined" [attr.colspan]="taskService.operations.length + 1"
                        (click)="onRowSelected(entry)" [ngClass]="{
                            'shorten': shortstyle
                        }">
                        <ng-container>
                            <i class="fa fa-folder-open blue"
                               aria-hidden="true"></i>
                        </ng-container>
                        <span title="{{entry.foldername}}">
                {{entry.foldername}}
                </span>
                        <span *ngIf="entry.entries.length > 0">
                    ({{entry.entries.length}})
                </span>
                    </td>

                    <ng-container *ngIf="entry.files !== undefined">
                        <td *ngFor="let operation of entry.operations" style="text-align: center;" [ngClass]="{
                'op-deactivated': !operation.enabled
            }"
                            (mouseenter)="onOperationMouseEnter($event, operation)"
                            (mouseleave)="onOperationMouseLeave($event, operation)"
                            (mouseover)="onOperationMouseOver($event, operation)"
                            (mousedown)="onOperationClick($event, operation)"
                        >
                            <ng-container
                                    *ngIf="(operation.state === 'FINISHED' && operation.results.length > 0 && !operation.lastResult.available);
                                else elseBlock">
                                <i class="fa fa-chain-broken"
                                   aria-hidden="true"></i>
                            </ng-container>
                            <ng-template #elseBlock>
                                <div *ngIf="!(operation.mouseover && operation.state === 'ERROR')"
                                     [innerHTML]="getStateIcon(operation)"
                                     (click)="onRowSelected(entry, operation)"></div>
                                <div *ngIf="operation.mouseover && operation.state === 'ERROR'">
                                    <i class="fa fa-repeat" aria-hidden="true"
                                       (click)="entry.restartFailedOperation(taskService.httpclient);"></i>
                                </div>
                                <div *ngIf="!operation.enabled">
                                    <i class="fa fa-arrow-circle-right" style="color:white" aria-hidden="true"></i>
                                </div>
                            </ng-template>

                        </td>
                    </ng-container>
                </tr>
                <ng-container *ngIf="entry.files === undefined">
                    <tr *ngFor="let dirEntry of entry.entries" [ngClass]="{'selected': (isEntrySelected(dirEntry))}">
                        <td (click)="onRowSelected(dirEntry)" [ngClass]="{
                            'shorten': shortstyle
                        }">
                            <img style="height:20px;margin-right:3px;" src="./assets/directory.png"> <i
                                class="fa fa-file-audio-o" aria-hidden="true"
                                [ngClass]="{
            green: (dirEntry.state === 'FINISHED'),
            red: (dirEntry.state === 'ERROR'),
            blue: (dirEntry.state === 'PENDING' || dirEntry.state === 'READY'),
            yellow: (dirEntry.state === 'PROCESSING')
            }"></i> <span
                                (mouseenter)="onTaskMouseEnter($event, dirEntry)"
                                (mouseleave)="onTaskMouseLeave($event, dirEntry)"
                                (mouseover)="onTaskMouseOver($event, dirEntry)"
                                [ngClass]="{
                    'green': dirEntry.files[0].file !== undefined,
                    'yellow': (dirEntry.files[0].file === undefined && dirEntry.operations[0].results.length === 0)
                }">
                        <ng-container
                                *ngIf="!(dirEntry.files[0].file === undefined && dirEntry.operations[0].results.length === 0)">
                            {{dirEntry.files[0].attributes.originalFileName}}
                        </ng-container>
                        <ng-container
                                *ngIf="(dirEntry.files[0].file === undefined && dirEntry.operations[0].results.length === 0)">
                            {{dirEntry.files[0].attributes?.originalFileName}}
                        </ng-container>
                    </span>
                            <ng-container *ngIf="dirEntry.files.length > 1">
                            <span class="badge" [ngClass]="
                            {
                                'badge-info': getBadge(dirEntry).type === 'info',
                                'badge-warning': getBadge(dirEntry).type === 'warning'
                            }
        " (click)="onPreviewClick(dirEntry.files[1])">
                                {{getBadge(dirEntry).label}}</span>
                            </ng-container>
                        </td>
                        <td *ngFor="let operation of dirEntry.operations" style="text-align: center;" [ngClass]="{
                'op-deactivated': !operation.enabled
            }"
                            (click)="onRowSelected(dirEntry, operation)"
                            (mouseenter)="onOperationMouseEnter($event, operation)"
                            (mouseleave)="onOperationMouseLeave($event, operation)"
                            (mouseover)="onOperationMouseOver($event, operation)"
                            (mousedown)="onOperationClick($event, operation)"
                        >
                            <ng-container
                                    *ngIf="(operation.state === 'FINISHED' && operation.results.length > 0 && !operation.lastResult.available); else elseBlock">
                                <i class="fa fa-chain-broken"
                                   aria-hidden="true"></i>
                            </ng-container>
                            <ng-template #elseBlock>
                                <div *ngIf="!(operation.mouseover && operation.state === 'ERROR')"
                                     [innerHTML]="getStateIcon(operation)"
                                     (click)="onRowSelected(dirEntry, operation)"></div>
                                <div *ngIf="operation.mouseover && operation.state === 'ERROR'">
                                    <i class="fa fa-repeat" aria-hidden="true"
                                       (click)="dirEntry.restartFailedOperation(taskService.httpclient);"></i>
                                </div>
                                <div *ngIf="!operation.enabled">
                                    <i class="fa fa-arrow-circle-right" style="color:white" aria-hidden="true"></i>
                                </div>
                            </ng-template>
                        </td>
                    </tr>
                </ng-container>
            </ng-container>
            <ng-container *ngFor="let entry of queue; let i = index;">
                <tr style="cursor:pointer;" [ngClass]="{'selected': (isEntrySelected(entry))}">
                    <td *ngIf="entry.file.entries === undefined"
                        [ngClass]="{'shorten': shortstyle}">
                        <ng-container *ngIf="entry.file.entries === undefined">
                            <i class="fa fa-file-audio-o op-50"
                               aria-hidden="true">
                            </i>
                        </ng-container>
                        <ng-container *ngIf="entry.file.entries !== undefined" [ngClass]="{
                            'shorten': shortstyle
                        }">
                            <i class="fa fa-folder-open blue op-50" aria-hidden="true"></i>
                        </ng-container>
                        <span class="op-50"
                              title="{{entry.file.fullname}}"
                        > {{entry.file.fullname}}
                    </span>
                    </td>
                    <td *ngIf="entry.file.entries !== undefined" [attr.colspan]="taskService.operations.length + 1">
                    <span title="{{entry.file.name}}" class="op-50">{{entry.file.name}}
                    </span>
                        <span *ngIf="entry.file.entries.length > 0" class="op-50">
                    ({{entry.file.entries.length}})
                    </span>
                    </td>
                    <ng-container *ngIf="entry.file.entries === undefined">
                        <td [attr.colspan]="taskService.operations.length + 1"></td>
                    </ng-container>
                </tr>
                <ng-container *ngIf="entry.file.entries !== undefined">
                    <tr *ngFor="let dirEntry of entry.file.entries">
                        <td>
                            <img style="height:20px;" src="./assets/directory.png" class="op-50">
                        </td>
                        <td>
                            <i class="fa fa-file-audio-o op-50" aria-hidden="true"></i>
                            <span class="op-50">{{dirEntry.fullname}}</span>
                        </td>
                        <td [attr.colspan]="taskService.operations.length + 1"></td>
                    </tr>
                </ng-container>
            </ng-container>
            </tbody>
        </table>
    </ng-container>
</div>