<div class="inner" (dragover)="onDragOver($event)" (drop)="onDrop($event)" (click)="onContextBlur()">
    <app-context-menu [ngStyle]="{
        'margin-top': contextmenu.y + 'px',
        'margin-left': contextmenu.x + 'px',
        'display': (contextmenu.hidden) ? 'none' : 'inherit'
    }" [hid]="contextmenu.hidden" [selected_tasks]="selected_tasks" (deletetasks)="onDeleteTasks()"></app-context-menu>
    <app-popover [@fadeToggle]="popover.state" [ngStyle]="{
        'width': popover.width + 'px',
        'margin-top': popover.y + 'px',
        'margin-left': popover.x + 'px'
    }" (mouseover)="popover.state = 'opened';" (mouseout)="popover.state = 'closed';">
        <ng-container *ngIf="popover.operation !== null">
            <ng-container *ngIf="popover.operation.time.start > 0">
                Duration: {{calculateDuration(popover.operation.time.start, popover.operation.time.end) |
                time}}<br/><br/>
            </ng-container>
            <ng-container *ngIf="popover.operation.results.length > 0">
                Results:<br/>
                <a *ngFor="let result of popover.operation.results" [href]="result.url" [download]="result.fullname"
                   [title]="'Download ' + result.fullname"><span class="glyphicon glyphicon-save"></span> </a>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="popover.task !== null && popover.task !== undefined && popover.task.state === 4">
            <a [href]="getMailToLink(popover.task)">Share results <span class="glyphicon glyphicon-envelope"
                                                                        style="color:cornflowerblue;"></span></a>
        </ng-container>
    </app-popover>
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>File</th>
            <th *ngFor="let operation of operations" style="text-align: center;">
                <span *ngIf="operation.icon === ''; else showIcon">
                    <ng-container *ngIf="shortstyle">
                        {{operation.name.charAt(0)}}
                    </ng-container>
                    <ng-container *ngIf="!shortstyle">
                        {{operation.name}}
                    </ng-container>
                </span>
                <ng-template #showIcon>
                    <div [innerHTML]="operation.icon"></div>
                </ng-template>
            </th>
        </tr>
        </thead>
        <tbody (contextmenu)="onContextMenu($event)">
        <tr style="cursor:pointer;" *ngFor="let task of tasks; let i = index;"
            [ngClass]="{'selected': (isTaskSelected(task.id))}">
            <!-- <td><span class="glyphicon glyphicon-menu-down" appExpandRow #tag
                      (contextmenu)="onContextMenu($event)"></span></td> -->
            <td>{{task.id}}</td>
            <td (click)="onRowSelected(task.id)"
                (mouseenter)="onTaskMouseEnter($event, task)"
                (mouseleave)="onTaskMouseLeave($event, task)"
                (mouseover)="onTaskMouseOver($event, task)"
                [ngClass]="{
                            'shorten': shortstyle
                        }"><span title="{{task.files[0].fullname}}">{{task.files[0].fullname}}</span> <span
                    *ngIf="task.files.length > 1">(+ {{task.files.length - 1}})</span>
                <!-- <table [@fadeToggle]="tag.getAttribute('data-state')" class="table datatable">
                    <tbody>
                    <tr *ngFor="let file of task.files;">
                        <td>{{file.fullname}}</td>
                        <td>{{file.type}}</td>
                        <td>{{file.size | filesize}}</td>
                    </tr>
                    </tbody>
                </table> -->
            </td>
            <td *ngFor="let operation of task.operations" style="text-align: center;"
                (mouseenter)="onOperationMouseEnter($event, operation)"
                (mouseleave)="onOperationMouseLeave($event, operation)"
                (mouseover)="onOperationMouseOver($event, operation)"
            >
                <div *ngIf="!(operation.mouseover && operation.state === 5)" [innerHTML]="getStateIcon(operation)"
                     (click)="onRowSelected(task.id, operation)"></div>
                <div *ngIf="operation.mouseover && operation.state === 5">
                    <span class="glyphicon glyphicon-repeat"
                          (click)="task.restartFailedOperation(taskService.httpclient)"></span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>