.inner {
    display: flex;
    flex-direction: column;
    flex: auto;
    overflow: scroll;
}

.datatable {
    width: 100%;
    font-size: 0.8em;
}

.datatable tr {
    border-bottom: 1px solid gray;
}

:host {
    border: 1px solid gray;
    display: flex;
}

.table-striped > tbody > tr.selected {
    background-color: #cbffe7;
}

.fa.fa.file-text {
    font-size: 32px;
}

.shorten {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: none;
    max-width: 100px;
    white-space: nowrap;
}

.fa.fa-arrow-up {
    color: cornflowerblue;
}

.col-xs-9 {
    padding-left: 0px;
}

.col-xs-3 {
    padding-right: 0;
}

.green {
    color: forestgreen;
}

.red {
    color: firebrick;
}

.blue {
    color: cornflowerblue;
}

.yellow {
    color: #ffc33b;
}

.table.table-striped th {
    vertical-align: top;
}

.op-deactivated {
    background-color: darkgray;
}