<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Download Archive</h4>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><a [href]="archiveURL">Download Archive</a></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
    </div>
</ng-template>

<div class="inner" (mouseleave)="isDragging = false" (dragover)="onDragOver($event)" (drop)="onDrop($event)"
     (click)="onContextBlur()">
    <div *ngIf="taskService.taskList.entries.length === 0" class="placeholder">
        <i class="fa" [ngClass]="{
            'fa-folder-open-o': isDragging,
            'fa-folder-o': !isDragging
        }"></i>
        <p class="description">
            Drag & drop some files/folders here or click on "+ ADD FILES"
        </p>
        <ul class="description">
            <li>You can add new files even if this message is not shown</li>
            <li>Adding folders and files is supported by the latest versions of Firefox, Chrome and Opera. <b>Safari is
                not supported</b></li>
            <li>Sub-folders will be shown on the first level</li>
            <li>For now all files will be ignored but *.wav audio files (extension planned)</li>
        </ul>
    </div>
    <app-context-menu [ngStyle]="{
        'margin-top': contextmenu.y + 'px',
        'margin-left': contextmenu.x + 'px',
        'display': (contextmenu.hidden) ? 'none' : 'inherit'
    }" [hid]="contextmenu.hidden" [selected_tasks]="selected_tasks" [selectedOperationType]="selectedOperation"
                      (optionselected)="onContextMenuOptionSelected($event)">
    </app-context-menu>
    <app-popover [@fadeToggle]="popover.state" [ngStyle]="{
        'width': popover.width + 'px',
        'margin-top': popover.y + 'px',
        'margin-left': (popover.x + 4) + 'px'
    }" (mouseover)="popover.state = 'opened';" (mouseout)="popover.state = 'closed';"
                 [borderColor]="getPopoverColor(popover.operation)" [pointer]="popover.pointer" #popoverRef>
        <ng-container *ngIf="popover.operation !== null">
            <ng-container *ngIf="popover.operation.time.start > 0">
                Duration: {{calculateDuration(popover.operation.time.start, popover.operation.time.end) |
                time}}<br/><br/>
            </ng-container>
            <ng-container *ngIf="popover.operation.results.length > 0">
                Results:<br/>
                <a *ngFor="let result of popover.operation.results" [href]="result.url" download="{{result.fullname}}"
                   target="_blank"
                   [title]="'Download ' + result.fullname"><i class="fa fa-file-text" aria-hidden="true"></i></a>
            </ng-container>
            <ng-container>
                <p style="font-size:12px;" [ngStyle]="{
                    color: getPopoverColor(popover.operation)
                }">
                    {{popover.operation.protocol}}
                </p>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="popover.operation === null && popover.task !== null && popover.task !== undefined">

            <ng-container *ngIf="popover.task.state === 'FINISHED'">
                <!-- <a [href]="getMailToLink(popover.task)">Share results <i class="fa fa-envelope" aria-hidden="true"
                                                                         style="color:cornflowerblue;"></i></a> -->
            </ng-container>

            <app-file-info-table [fileinfo]="popover.task.files[0]"></app-file-info-table>
        </ng-container>
    </app-popover>
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>File</th>
            <th *ngFor="let operation of operations; let i = index" style="text-align: center;">
                <span *ngIf="operation.icon === ''; else showIcon" style="display:block;">
                    <ng-container *ngIf="shortstyle">
                        {{operation.name.charAt(0)}}
                    </ng-container>
                    <ng-container *ngIf="!shortstyle">
                        {{operation.name}}
                    </ng-container>
                </span>
                <ng-template #showIcon>
                    <div [innerHTML]="operation.icon"></div>
                </ng-template>
                <input *ngIf="operation.name === 'OCTRA' || operation.name === 'ASR'" type="checkbox"
                       class="header-checkbox"
                       [checked]="operation.enabled" (click)="deactivateOperation(operation, i)"/>
            </th>
        </tr>
        </thead>
        <tbody (contextmenu)="onContextMenu($event)">
        <ng-container *ngFor="let entry of taskList.entries; let i = index;">

            <tr style="cursor:pointer;" [ngClass]="{'selected': (isTaskSelected(entry.id) && entry.type !== 'folder')}">
                <!-- <td><span class="glyphicon glyphicon-menu-down" appExpandRow #tag
                          (contextmenu)="onContextMenu($event)"></span></td> -->
                <td *ngIf="entry.files !== undefined" style="width:25px;">
                    <i class="fa fa-file-audio-o"
                                                                             aria-hidden="true"
                                                                             [ngClass]="{
            green: (entry.state === 'FINISHED'),
            red: (entry.state === 'ERROR'),
            blue: (entry.state === 'PENDING' || entry.state === 'READY'),
            yellow: (entry.state === 'PROCESSING')
            }"></i></td>
                <td *ngIf="entry.files === undefined" style="width:25px;"><i class="fa fa-folder-open blue"
                                                                             aria-hidden="true"></i></td>

                <td *ngIf="entry.files !== undefined" (click)="onRowSelected(entry)"
                    [ngClass]="{
                            'shorten': shortstyle
                        }">
                <span [ngClass]="{
                    'op-50': entry.files[0].samplerate === undefined,
                    'red': entry.files[0].channels !== undefined && entry.files[0].channels > 1
                }" title="{{entry.files[0].fullname}}"
                      (mouseenter)="onTaskMouseEnter($event, entry)"
                      (mouseleave)="onTaskMouseLeave($event, entry)"
                      (mouseover)="onTaskMouseOver($event, entry)">
                {{entry.files[0].fullname}}
                </span>
                    <span *ngIf=" entry.files.length > 1">
                    (+ {{entry.files.length - 1}})
                </span>
                </td>

                <td *ngIf="entry.files === undefined" [attr.colspan]="taskService.operations.length + 1">
                <span title="{{entry.path}}">
                {{entry.path}}
                </span>
                    <span *ngIf="entry.entries.length > 0">
                    ({{entry.entries.length}})
                </span>
                </td>

                <ng-container *ngIf="entry.files !== undefined">
                    <td *ngFor="let operation of entry.operations" style="text-align: center;" [ngClass]="{
                'op-deactivated': !operation.enabled
            }"
                        (mouseenter)="onOperationMouseEnter($event, operation)"
                        (mouseleave)="onOperationMouseLeave($event, operation)"
                        (mouseover)="onOperationMouseOver($event, operation)"
                        (mousedown)="onOperationClick($event, operation)"
                    >
                        <div *ngIf="!(operation.mouseover && operation.state === 'ERROR')"
                             [innerHTML]="getStateIcon(operation)"
                             (click)="onRowSelected(entry, operation)"></div>
                        <div *ngIf="operation.mouseover && operation.state === 'ERROR'">
                            <i class="fa fa-repeat" aria-hidden="true"
                               (click)="entry.restartFailedOperation(taskService.httpclient)"></i>
                        </div>
                        <div *ngIf="!operation.enabled">
                            <i class="fa fa-arrow-circle-right" style="color:white" aria-hidden="true"></i>
                        </div>
                    </td>
                </ng-container>
            </tr>
            <ng-container *ngIf="entry.files === undefined">
                <tr *ngFor="let dirEntry of entry.entries" [ngClass]="{'selected': (isTaskSelected(dirEntry.id))}">
                    <td>
                        <img style="height:20px;" src="./assets/directory.png">
                    </td>
                    <td (mouseenter)="onTaskMouseEnter($event, dirEntry)"
                        (mouseleave)="onTaskMouseLeave($event, dirEntry)"
                        (click)="onRowSelected(dirEntry)"
                        (mouseover)="onTaskMouseOver($event, dirEntry)"><i class="fa fa-file-audio-o" aria-hidden="true"
                           [ngClass]="{
            green: (dirEntry.state === 'FINISHED'),
            red: (dirEntry.state === 'ERROR'),
            blue: (dirEntry.state === 'PENDING' || dirEntry.state === 'READY'),
            yellow: (dirEntry.state === 'PROCESSING')
            }"></i> {{dirEntry.files[0].fullname}}
                    </td>
                    <td *ngFor="let operation of dirEntry.operations" style="text-align: center;" [ngClass]="{
                'op-deactivated': !operation.enabled
            }"
                        (click)="onRowSelected(dirEntry, operation)"
                        (mouseenter)="onOperationMouseEnter($event, operation)"
                        (mouseleave)="onOperationMouseLeave($event, operation)"
                        (mouseover)="onOperationMouseOver($event, operation)"
                        (mousedown)="onOperationClick($event, operation)"
                    >
                        <div *ngIf="!(operation.mouseover && operation.state === 'ERROR')"
                             [innerHTML]="getStateIcon(operation)"
                             (click)="onRowSelected(dirEntry, operation)"></div>
                        <div *ngIf="operation.mouseover && operation.state === 'ERROR'">
                            <i class="fa fa-repeat" aria-hidden="true"
                               (click)="dirEntry.restartFailedOperation(taskService.httpclient)"></i>
                        </div>
                        <div *ngIf="!operation.enabled">
                            <i class="fa fa-arrow-circle-right" style="color:white" aria-hidden="true"></i>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </ng-container>
        </tbody>
    </table>
</div>