body {
    padding: 0;
    overflow: hidden;
}
html, body {
    height:100%;
}

.glyphicon.glyphicon-ok{
    color: forestgreen;
}

.glyphicon.glyphicon-remove{
    color: red;
}

.glyphicon.glyphicon-arrow-up {
    color: cornflowerblue;
}

.glyphicon.glyphicon-edit {
    color: cornflowerblue;
}