body {
    padding: 0;
    overflow: hidden;
}
html, body {
    height:100%;
}

.glyphicon.glyphicon-ok{
    color: forestgreen;
}

.glyphicon.glyphicon-remove{
    color: red;
}

.glyphicon.glyphicon-arrow-up {
    color: cornflowerblue;
}

.glyphicon.glyphicon-edit {
    color: cornflowerblue;
}

.fa.fa-angle-down,
.fa.fa-angle-up {
    font-size: 1.5em;
    margin-right: 5px;
    margin-bottom: 5px;
}